@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  height: 100vh;
  overflow: auto; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.footer {
  position: fixed;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid rgb(249, 244, 244); }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'SF Mono', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

a {
  text-decoration: none !important;
  color: #eeb83b; }
  a:hover {
    color: #424242; }

.btn {
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  background: #eeb83b;
  color: white;
  border-radius: 3px;
  border: solid 2px #eeb83b;
  padding: 1rem 3rem; }
  @media (max-width: 530px) {
    .btn {
      font-size: 1.4rem; } }
  .btn--shallow {
    background: transparent; }
    .btn--shallow:hover {
      background-color: #eeb83b; }

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/1.jpg") center center no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 100vh;
  border-bottom: solid 10px #eeb83b; }
  .main__title {
    font-size: 7.3rem !important;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: medium;
    color: #eeb83b;
    font-family: "Roboto Slab";
    font-size: 14rem; }
    .main__title strong {
      color: #eeb83b; }
    @media (max-width: 1024px) {
      .main__title {
        font-size: 5.3rem !important; } }
    @media (max-width: 800px) {
      .main__title {
        font-size: 5.3rem !important; } }
    @media (max-width: 530px) {
      .main__title {
        font-size: 4rem !important; } }
  .main__subtitle {
    padding: 0px 0 30px 0;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 2rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    color: #c4c4c4;
    font-family: "SF Mono";
    font-weight: 200; }
    @media (max-width: 1024px) {
      .main__subtitle {
        max-width: 67%; } }
    @media (max-width: 800px) {
      .main__subtitle {
        max-width: 87%;
        font-size: 2rem !important; } }
    @media (max-width: 530px) {
      .main__subtitle {
        max-width: 95%;
        font-size: 1.7rem !important; } }
  .main__input {
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    padding: 1rem 0;
    border: 0;
    background: transparent;
    border-bottom: solid 2px rgba(255, 255, 255, 0.25);
    margin-right: 2rem;
    color: white;
    font-weight: lighter;
    letter-spacing: 1px; }
    @media (max-width: 800px) {
      .main__input {
        width: 30%; } }
    @media (max-width: 530px) {
      .main__input {
        display: block;
        width: 80%;
        margin-bottom: 2rem; } }
    .main__input::placeholder {
      font-weight: lighter;
      letter-spacing: 1px;
      font-size: 1.3rem; }
    .main__input:focus {
      outline: none; }
  .main__profile-container {
    margin-top: 7rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto; }
  .main__profile-key {
    color: #eeb83b;
    padding-bottom: 2rem; }
  .main__profile-value {
    color: #fff; }
